<div class="container">
  <div class="row">
    <div class="sample1 col-10">
      <h1 class="head-line title_h2 text-center">About</h1>
      野球応援シティは球場に行けなくても誰かと応援している気分になれるサイトです。<br>
      webを通じて応援のコメントを投稿できます。<br>
      試合一覧から対戦カードの日程も確認いただけます。<br>
      <%= image_tag 'yafuoku_doom.jpg', class: "img-fluid" %>
    </div>
  </div>
</div>