<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>応援コメント</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% supports.each do |support| %>
      <tr>
        <td><%= link_to user_path(support.user) do %>
          <%= attachment_image_tag(support.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          <% end %>
        </td>
        <td><%= link_to support.title, support_path(support), class: "support_#{support.id}" %></td>
        <td><%= support.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>