<h2 class="head-line title_h2 text-center">応援投稿編集</h2>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    	<%= render 'layouts/errors', obj: @support %>
  		<%= render 'form', support: @support %>
  		<%= link_to 'Show', support_path(@support), class: "support_#{@support.id} btn btn-sm btn-outline-info" %> |
  		<%= link_to 'Back', supports_path,  class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>